.topHeader{
  width: 90%;
  padding-bottom: 15px;
}


//Footer Button
.transparent {
  background-color: transparent;
  width: 150px;
  height: 35px;
  border: 1px solid hsl(var(--solitaire-quaternary));
  border-radius: 5px;
  color: hsl(var(--solitaire-tertiary));
  font-size: 14px;
}

  .filled {
    height: 35px;
    width: 150px;
    background-color: #8c7459;
    color: #ffffff;
  }
  
  .activeHeaderButtonStyle {
    font-weight: 600;
    padding: 0px 10px !important;
    height: 1.8rem !important;
    background-color: hsl(var(--solitaire-primary));
    border-bottom:1px solid hsl(var(--solitaire-quaternary)) ;
    color: hsl(var(--solitaire-tertiary));
  }

  .headerButtonStyle {
    background-color: transparent;
    font-weight: 600;
    padding: 0px 10px !important;
    height: 1.8rem !important;
    color: hsl(var(--solitaire-tertiary));
  }




  .labelContainer {
    display: flex;
    padding-right: 10px;
    // width: 200px;
  }
  
  .tooltipContainerStyles {
    width: 100%;
  }
  .yourSelectionContainer {
    width: calc(100% - 200px);
  }
  .yourSelectionHeader {
    width: 100%;
  }
  
  .yourSelectionToolTipStyles {
    display: flex;
    justify-content: right;
  }
  
  .yourSelectionTooltipContentStyle {
    justify-content: center;
    z-index: 999;
    // width: 92vw;
    // width: 113%; 
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    margin-left: -7%;
    transform: translateX(-2%);
  }
  
  .yourSelectionSubContainer {
    width: 33%;
    display: flex;
    text-align: left;
  }
  
  .yourSelectionMainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;
  }
  
  .yourSelectionContentContainer {
    width: 100%;
  }
  
  .yourSelectionTooltipHeader {
    font-weight: 600;
  }
  
  .yourSelectionInHeader {
    display: flex;
    color: hsl(var(--solitaire-tertiary));
  }
  
  .yourSelectionInHeaderElement {
    padding: 0px 10px;
  }
  .selectionButtonStyles{
    border: 0.25px solid #5d6a6a;
  }
  
  .labelDefaultStyle{
    color: hsl(var(--solitaire-tertiary));
  }

  

  .sheetContentStyle{
    width: 20%;
    z-index: 9999;
    padding: 1rem 0rem;
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
  }

  .sheetMainHeading {
    z-index: 9999;
    position: sticky;
    background-color: hsl(var(--solitaire-primary));
    color: var(--shadow, #8c7459);
    font-size: 16px;
    font-weight: 700;
    top: 0px;
    width: 100%;
    padding:0.3rem 1.5rem;
    margin-bottom: 10px 0px 10px;
    border-bottom: 2px solid hsl(var(--solitaire-senary));
    letter-spacing: 1px;
    p {
      margin-bottom: 30px;
    }
  }
  
  .mainRadioButtonStyle{
    display: flex !important;
    flex-direction: column !important;
    gap: 0px !important;
    margin: 15px 0px;
  }

  .radioStyle {
    color: #8c7459;
    background-color: #0c1f1f;
    border-color: #8c7459;
    margin: 10px;
  }
  
  .labelStyle {
    color: hsl(var(--solitaire-tertiary))
  }
  
  .radioButtonMainDiv{
    padding:1.5rem 1.5rem 3.5rem;
  }

  .showResultButtonStyle {
    background-color: #8c7459;
    border-radius: 5px;
    margin-top: 30px;
    color: #ffffff;
    font-weight: 300;
    padding: 8px 30px;
  }

  .showResultMainDiv {
    position: fixed;
    background-color: hsl(var(--solitaire-primary));
    bottom: 0px;
    width: 20%;
    padding: 20px 0px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }