/* Card Container */
.searchCardContainer {
  background-color: hsl(var(--solitaire-secondary));
  padding: 20px 10px;
}

.mainCardContainer {
  width: 90%;
  border: 0.25px solid hsl(var(--solitaire-quinary));
  border-radius: 10px;
}

/* Card Title */

.searchCardTitleMainDiv {
  width: 100%;
}

.parentDivHeaderSectiom {
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.SearchCardTitle {
  color: hsl(var(--solitaire-tertiary));
  font-size: 16px;
  font-weight: 500;
}

/* Date and Time */
.SearchDateTime {
  color: hsl(var(--solitaire-tertiary));
  font-size: 12px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.5px;
}

.manySavedSearchButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(var(--solitaire-primary));
  padding: 4px 8px;
  border-radius: 5px;
}

.manySavedSearchLabel {
  color: hsl(var(--solitaire-tertiary));
  font-weight: 300;
}

/* Header Container */
.headerContainer {
  display: flex;
  flex-direction: column;
}

/* Button Styles */
.SearchButtonLabel {
  color: hsl(var(--solitaire-tertiary));
  font-size: 14px;
  font-weight: 400;
}

.SearchButtonStyle {
  background-color: hsl(var(--solitaire-primary));
  margin-top: 25px;
  border-radius: 2px;
}

//Table Styling
.tableHeader {
  color: #8c7459;
  font-size: 14px;
  font-weight: 500;
}

.tableBody {
  color: hsl(var(--solitaire-tertiary));
  font-size: 14px;
  font-weight: 300;
}

/* Sheet Styling */
.sheetMainDiv {
  width: 48%;
  margin-right: 10%;
}

.sheetMainHeading {
  color: var(--shadow, #8c7459);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 27px;
  position: sticky;
  top: 0;
  background-color: hsl(var(--solitaire-secondary));
  p {
    margin-bottom: 30px;
  }
}

.sheetHeading {
  color: var(--shadow, #8c7459);
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0px;
  letter-spacing: 1px;
}

.activeHeaderButtonStyle {
  background-color: transparent;
  color: #8c7459;
  font-weight: 600;
}

.headerButtonStyle {
  background-color: transparent;
  color: hsl(var(--solitaire-tertiary));
}

.headerButtonStyle:hover {
  color: #8c7459;
}

.sheetContentStyle {
  background-color: hsl(var(--solitaire-secondary));
  z-index: 1111;
}

.inclusionDetailsMainDiv {
  width: 42%;
  margin-right: 10%;
  letter-spacing: 1px;
}

.inclutionDetailsInnerHeadingStyle {
  width: 100%;
  color: var(--shadow, #8c7459);
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1px;
}

.innerHeading {
  color: var(--shadow, #8c7459);
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  width: 50%;
  padding-right: 10;
  letter-spacing: 1px;
}

.sheetValues {
  color: hsl(var(--solitaire-tertiary));
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  flex-wrap: wrap;
  display: flex;
  width: 50%;
  padding-left: 10%;
  letter-spacing: 1px;
}

.showResultMainDiv {
  text-align: center;
  position: sticky;
  bottom: 0;
  background-color: hsl(var(--solitaire-secondary));
  padding-bottom: 27px;
}
.showResultButtonStyle {
  background-color: #8c7459;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.showResultButtonTransparent {
  background-color: transparent;
  border: 1px solid #8c7459;
  font-size: 14px !important;
  border-radius: 5px;
  margin-top: 30px;
  color: #ffffff;
  font-weight: 300;
  padding: 8px 30px;
}

.showResultButtonFilled {
  background-color: #8c7459;
  border-radius: 5px;
  font-size: 14px !important;
  margin-top: 30px;
  color: #ffffff;
  font-weight: 300;
  padding: 8px 30px;
}

//Footer Button
.transparent {
  background-color: transparent;
  border: 1px solid #8c7459;
  font-size: 14px !important;
}
.filled {
  background-color: #8c7459;
  color: #ffffff;
  font-size: 14px !important;
}
