.accordionTriggerStyle{
    border: 1px solid var(--neutral-200);
    border-radius: 4px 4px 0px 0px; 
    background: var(--neutral-50);
    padding: 6px 16px;
    color: var(--neutral-900);
    text-transform: capitalize;
}

.accordionContentStyle{
    padding: 24px 130px 25px 16px; 
    border : 1px solid var(--neutral-200);
    color: var(--neutral-900);
    
}