.dimaondImageContainer {
  background-color: hsl(var(--solitaire-secondary));
  height: 200px;
  position: sticky;
  top: 0;
}

.diamondImageContainer {
  position: relative;
  cursor: pointer;
}

.diamondImage {
  margin: 10px 15px 0px 15px;
}

.compareStoneCheckbox {
  position: absolute;
  top: 8px;
  left: 20px;
}

.closeButton {
  stroke: hsl(var(--solitaire-quaternary));
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 18px;
}

.compareStoneValue {
  background-color: hsl(var(--solitaire-secondary));
  width: 211px;
  font-size: 14px;
  line-height: 30px;
  padding-left: 40px;
  color: hsl(var(--solitaire-tertiary));
}
