.cardContainer {
  border: none;
  width: 100%;
}

.cardHeaderText {
  display: flex !important;
  justify-content: space-between;
}

.cardTitle {
  display: flex;
  width: 100%;
}

.cardActionIcon {
  height: 24px;
  width: 24px;
  margin: 8px;
}

// .cardIcon {
//     height: 20px;
//     width: 20px;
//     margin-right: 10px;
// }
.mainContainer {
  border-radius: 10px;
  background-color: hsl(var(--solitaire-secondary));
  border: none;
  justify-content: space-between;
}
