.changePassword{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.changePasswordContainer{
    width: 550px;
    border:1px solid #8C7459;
    border-radius: 15px;
    padding: 30px;
    display: grid;
    gap: 20px;
}
.inputStyles,.inputContainerStyles{
    width: 100%;
}