// /* custom-dialog.module.scss */
// .overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.5);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     z-index: 1112;
//   }

//   .dialog-content {
//     background-color: hsl(var(--solitaire-primary));
//     padding: 20px;
//     border-radius: 10px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
//     width: 400px; /* Adjust the width as needed */
//     height: 200px; /* Adjust the height as needed */
//     max-width: 100%; /* Ensure it doesn't exceed the screen width */
//     max-height: 100%; /* Ensure it doesn't exceed the screen height */
//     overflow-y: auto; /* Enable scrolling if content exceeds the max height */
//   }

//   .dialog-container {
//     max-width: 80%; /* Adjust the width as needed */
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%; /* Ensure the dialog takes the full height */
//   }

.confirm {
  width: 360px;
  height: 280px;
  background: #fff;
  transition: 0.6s;
  z-index: 100;
  position: absolute;
  top: -280px;
  left: calc(50% - 180px);
}

.show {
  top: calc(50% - 140px);
}

.confirm-content {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
  padding: 1.5rem;
}

.confirm-content h4 {
  font-size: 1.2rem;
  font-weight: 800;
  position: relative;
}

.confirm-content h4::after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--secondary);
  position: absolute;
  bottom: -7px;
  left: 0;
}

.confirm-content h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 3rem;
}

.confirm-content p {
  font-size: 1.1rem;
  color: var(--gray);
  text-align: center;
  margin-top: 0.5rem;
}

.confirm-btns {
  height: 30%;
}

.confirm-btns button {
  width: 50%;
  height: 100%;
  background: var(--secondary);
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  padding: 1rem 0;
  cursor: pointer;
}

.confirm-btns button:hover {
  background: var(--secondary-dark);
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.confirm.show + .overlay {
  display: block;
}

.button {
  background: var(--secondary);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 4rem;
}

@media screen and (max-width: 450px) {
  .confirm {
    width: 300px;
    left: calc(50% - 150px);
  }
}
