.buttonDefaultStyle {
  background-color: transparent;
  border: 0.25px solid #5d6a6a;
  margin: 10px;
  border-radius: 5px;
}

.labelDefaultStyle {
  font-weight: 300;
  color: hsl(var(--solitaire-tertiary));
}
