

.details-slider .slick-active  button:before {
    color: White !important;
    background: White !important;
    height: 8px;
    width: 16px;
    border-radius: 50%;
    content:none;
  }
  .details-slider .slick-slide {
    height: 340px;
 
  }


  .details-slider 
  {
    justify-content: center;
    display: flex;
  }

  .details-slider .slick-prev, .slick-next {
    font-size: 15px !important;
  }
  
  .details-slider   .slick-prev:before, .slick-next:before  {
    content: '' !important;
  }
  
  .details-slider .slick-dots li button:before {
    /* color: white !important;
    background: White !important; */
  
    padding: 0px !important;
    width: 8px !important;
    height: 8px;
    content:none;
    border-radius: 50%;
  
  
  }
  .details-slider .slick-dots{
    bottom: 0px !important;
  }
  .details-slider .slick-dots li{
    /* margin: 0px !important; */
    margin: 0px 5px;
    height: 5px;
    width: 5px;
    text-align: center;
    justify-content: center;
    display: inline-flex;
  }
  
  .details-slider .slick-dots li button{
    background: #E4E7EC;
    content:none;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    padding: 3px;
  }
 .details-slider .slick-dots li button:hover{
    background: #1D2939;
    content:none;
    height: 6px;
    width: 6px;
    border-radius: 50%;
  
  }
  .details-slider .slick-dots .slick-active button:hover{
    background: #1D2939 !important;
    width: 16px;
    border-radius: 10px;
  }


  .details-slider .slick-dots .slick-active button{
    background: #1D2939 !important;
    width: 16px;
    padding: 0px 5px;
    height: 6px;
    border-radius: 10px;
  }
  
  