.notification_dot {
  display: inline-block;
  position: relative;
}

.notification_dot::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 3px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7); /* Slightly darker red */
  }
  50% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0); /* Fully transparent */
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0); /* Fully transparent */
  }
}

@keyframes mpsNew {
  0% {
    box-shadow: 0 0 0 0 rgb(217, 232, 255); /* Slightly darker red */
  }
  50% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0); /* Fully transparent */
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0); /* Fully transparent */
  }
}
