
.otpContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.otpInput {
  background-color: hsl(var(--solitaire-denary));
  border-radius: 10px;
  width: 65px;
  height: 65px;
  text-align: center;
  font-size: 18px;
}
