.gradient1 {
  background: linear-gradient(
    90deg,
    hsla(198, 85%, 92%, 1) 0%,
    hsla(240, 100%, 95%, 1) 50%,
    hsla(36, 100%, 95%, 1) 100%
  );
  /* Adjust the angle (90deg) and color stops (0%, 50%, 100%) as needed */
  /* You can also use other angle values like 45deg, 180deg, etc. */
}

.gradient2 {
  background: linear-gradient(
    45deg,
    hsla(198, 85%, 92%, 1),
    hsla(240, 100%, 95%, 1)
  );
}
/* Adjust the angle (90deg) and color stops (0%, 50%, 100%) as needed */
/* You can also use other angle values like 45deg, 180deg, etc. */

.gradient3 {
  background: linear-gradient(
    90deg,
    hsla(198, 85%, 92%, 1) 0%,
    hsla(166, 54%, 92%, 1) 50%,
    hsla(36, 100%, 95%, 1) 100%
  );
  /* Adjust the angle (90deg) and color stops (0%, 50%, 100%) as needed */
  /* You can also use other angle values like 45deg, 180deg, etc. */
}

.gradient4 {
  background: linear-gradient(
    90deg,
    hsla(240, 78%, 96%, 1) 0%,
    hsla(198, 85%, 92%, 1) 50%,
    hsla(36, 100%, 95%, 1) 100%
  );
  /* Adjust the angle (90deg) and color stops (0%, 50%, 100%) as needed */
  /* You can also use other angle values like 45deg, 180deg, etc. */
}

.gradient5 {
  background: hsla(216, 24%, 96%, 1);
}
