.ctaContainer {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.ctaStyle {
  border-radius: 4px;
  height: 37px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.12);
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: var(--font-size-mMedium);
  border: 1px solid var(--neutral-200);
}

.ctaPrimaryStyle:hover {
  background-color: var(--primary-hover);
}
.ctaPrimaryStyle:focus {
  background-color: var(--primary-main);
}
.ctaPrimaryStyle:active {
  background-color: var(--primary-pressed);
}
.ctaSecondaryStyle:hover {
  background-color: var(--neutral-50);
}
.ctaSecondaryStyle:active {
  background-color: var(--neutral-100);
}
.ctaSecondaryStyle:focus {
  border: 1px solid #cfd1d4;
  background: var(--neutral-50);
}

.ctaLabel {
  text-transform: capitalize;
}

/* pulse.css */

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 hsla(216, 90%, 44%, 0.7); /* Slightly transparent blue */
  }
  50% {
    box-shadow: 0 0 0 6px hsla(216, 90%, 44%, 0); /* Fully transparent */
  }
  100% {
    box-shadow: 0 0 0 0 hsla(216, 90%, 44%, 0); /* Fully transparent */
  }
}
