.diamondDetailSheet {
  background-color: hsl(var(--solitaire-primary));
  z-index: 1111;
  max-width: 90% !important;
  padding-right: 50px;
  padding-left: 50px;
}

.table {
  min-width: max-content;
  border-spacing: 0;
  border-collapse: collapse;
}

/* Apply a border to the right of all but the last column */
.table th {
  background-color: hsl(var(--solitaire-secondary));
}

.table thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tableHeader {
  position: sticky;
  z-index: 2;
  top: 0;
}

.memoOutBackground {
  background-color: hsl(
    var(--solitaire-senary)
  ); /* Change this to the desired background color */
  padding: 0px 5px;
  border-radius: 6px;
  color: hsl(
    var(--solitaire-tertiary)
  ); /* Change this to the desired text color */
}
.inCartBackground {
  background-color: #614c4b; /* Change this to the desired background color */
  padding: 0px 5px;
  border-radius: 6px;
  color: hsl(
    var(--solitaire-tertiary)
  ); /* Change this to the desired text color */
}

.availableStatus {
  color: green;
}

.customCheckboxStyle {
  margin-right: 0px !important;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  border-bottom-left-radius: 25%;
  border-top-left-radius: 25%;
  position: sticky;
  left: 0;
  // width: 100%;
  // min-width: 100%;
  padding-left: 10px;
}

// .table th:nth-child(2),
// .table td:nth-child(2) {
//   position: sticky;
//   /* 1st cell left/right padding + 1st cell width + 1st cell left/right border width */
//   /* 0 + 5 + 150 + 5 + 1 */
//   // left: 45px;
//   // width: 100%;
//   // min-width: 100%;
// }

.table td:nth-child(1),
.table td:nth-child(2) {
  background-color: hsl(var(--solitaire-primary));
  
}

.table th:nth-child(1),
.table th:nth-child(2) {
  z-index: 2;
}

.tableHead,
.tableData {
  padding: 2px 8px;
  margin-bottom: 15px;
  text-align: left;
}

.tableHead {
  padding: 8px 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.tableBody {
  position: relative;
  z-index: 1;
  font-size: 14px;
}

.tableBody::before {
  height: 0.5em;
  display: table-row;
  content: '';
}
.tableBody .tableData::before {
  height: 0.3em;
  display: table-row;
  content: '';
}

.tableData {
  color: hsl(var(--solitaire-tertiary));
}

.activeHeaderButtonStyle {
  font-size: 18px;
  color: hsl(var(--solitaire-tertiary));
}

.headerButtonStyle {
  color: hsl(var(--solitaire-senary));
}

//Footer Button
.transparent {
  background-color: transparent;
  width: 150px;
  height: 35px;
  border: 1px solid hsl(var(--solitaire-quaternary));
  border-radius: 5px;
  color: hsl(var(--solitaire-tertiary));
  font-size: 14px !important;
}

.filled {
  height: 35px;
  width: 150px;
  background-color: #8c7459;
  color: #ffffff;
  font-size: 14px !important;
}

.sliderData {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stoneSliderData {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sheetMainHeading {
  z-index: 9999;
  position: sticky;
  background-color: hsl(var(--solitaire-primary));
  color: var(--shadow, #8c7459);
  font-size: 16px;
  font-weight: 300;
  top: 0px;
  width: 100%;
  padding: 0.9rem 1.5rem 0.3rem;
  margin-bottom: 10px 0px 10px;
  border-bottom: 2px solid hsl(var(--solitaire-senary));
  letter-spacing: 1px;
  p {
    margin-bottom: 20px;
  }
}

.diamondDetailHeader {
  color: var(--shadow, #8c7459);
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0px 30px;
  letter-spacing: 1px;
  p {
    margin-bottom: 30px;
  }
}

.sheetContentStyle {
  width: 40%;
  z-index: 9999;
  padding: 1rem 0rem;
  animation-duration: 1ms !important;
  transition-duration: 1ms !important;
}

.customButtonDiv {
  background-color: hsl(var(--solitaire-primary));
  width: 100%;
  border-top: 1px solid hsl(var(--solitaire-senary));
  padding: 20px 20px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
