.label {
    font-size: 16px;
}

.dividerLine {
    height: 5px;
    border: 0px solid #5d6a6a;
    border-top-width: 1px;
}

.filterSectionLabel {
    width: 10%;
    height: auto;
    display: flex;
}

.filterSection {
    display: flex;
    padding: 5px 0px;
}

.filterSectionData {
    width: 90%;
}

.colorFilterStyles {
    border-radius: 30px;
    width: 100px;
}

.whiteColorFilterStyle {
    width: 45px;
}

.commonSelectionStyle {
    width: 120px;
}

.filterWrapSection {
    display: flex;
    flex-wrap: wrap;
}

.otherParameterContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.otherParameterHeader {
    margin-top: 20px;
    padding-bottom: 30px;
    font-weight: normal;
}

.otherParameterTitle {
    width: 20%;
}

.labelPlainColor {
    color: #ced2d2;
    font-weight: normal;
    font-size: 14px;
}

.otherParameterDataContainer {
    padding: 0px;
}

.radioStyle {
    border: 1px solid #8c7459;
}

.radioLabel {
    color: #ced2d2;
    padding: 5px;
    font-weight: normal;
}

.caratRangeFilter {
    display: flex;
    flex-direction: column;
}

.inputFieldStyles {
    width: 100px;
}

.parameterFilter {
    // width: 25%;
    justify-content: space-between;
}

.parameterContainer {
    width: 220px;
    margin-right: 20px;
    margin-top: 30px;
}

.parameterLabel {
    color: #ced2d2;
    font-size: 12px;
    display: flex;
    align-items: end;
}

.rangeFilter {
    display: flex;
    width: 220px;
    justify-content: space-between;
    margin-left: 10px;
}

.addCarat {
    border: 1px solid #8c7459;
    padding: 0px 30px;
}

.specificFilterAlign {
    margin-top: 20px;
    align-items: start;
}

.dropdownHeader {
    width: 200px;
    color: #ced2d2;
}

.dropdownData {
    background-color: #0c1f1f;
    color: #ced2d2;
}

.dropdownData:hover {
    background-color: #0c1f1f;
}

.advanceSearchHeader {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.activeColorStyles{
    background-color: #8C7459;
    border: none;
}

.activeOtherStyles{
    border: 1px solid #8C7459;
}

.stepStyle{
    color: #ced2d2;
    font-size: 14px;
}