// .headerSearchBtn {
//   width: 90px;
//   justify-content: center;
//   padding: 4px 20px;
//   align-items: center;
//   border-radius: 25px;
//   background-color: hsl(var(--solitaire-quaternary));
//   font-style: normal;
//   font-weight: 500;
//   line-height: normal;
// }

// .headerSearchBtnLabel {
//   color: hsl(var(--solitaire-tertiary));
// }

.mainDiv {
  position: fixed;
  top: 80px;
  background-color: hsl(var(--solitaire-primary));
  z-index: 11111;
}

.visible {
  top: 0;
}

.headerInputStyle {
  width: 250px;
  font-size: 16px;
  color: hsl(var(--solitaire-tertiary));
}
.headerInputStyle ::placeholder {
  color: hsl(var(--solitaire-senary));
}

/* Media queries */
/* Small screens */
@media (max-width: 767px) {
  .mainDiv {
    width: 70%;
    height: auto;
  }

  .headerSearchBtn {
    width: 70px;
    padding: 4px 10px;
    font-size: 14px;
  }

  .headerInputStyle {
    width: 150px;
    font-size: 14px;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .mainDiv {
    width: 80%;
    height: 60px;
  }

  .headerSearchBtn {
    width: 80px;
    padding: 4px 15px;
    font-size: 14px;
  }

  .headerInputStyle {
    width: 200px;
    font-size: 14px;
  }
}

/* Large screens */
@media (min-width: 1024px) {
  .mainDiv {
    width: 90%;
    height: 80px;
  }

  .headerSearchBtn {
    width: 90px;
    padding: 4px 20px;
    font-size: 16px;
  }

  .headerInputStyle {
    width: 250px;
    font-size: 16px;
  }
}
