// .headerSearchBtn {
//   width: 90px;
//   justify-content: center;
//   padding: 4px 20px;
//   align-items: center;
//   border-radius: 25px;
//   background-color: hsl(var(--solitaire-quaternary));
//   font-style: normal;
//   font-weight: 500;
//   line-height: normal;
// }

// .headerSearchBtnLabel {
//   color: hsl(var(--solitaire-tertiary));
// }


.headerInputStyle {
  width: 250px;
  font-size: 16px;
  color: hsl(var(--solitaire-tertiary))
}

.headerInputStyle ::placeholder {
   color: hsl(var(--solitaire-senary));
}