/* styles/KycNudgeBottomSheet.module.scss */

.bottomSheetOverlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;
  // width: 100vh;
  height: 100vh;
  align-items: end;
}

.bottomSheetContent {
  background: #fff;
  width: 100%;
  max-width: 500px; /* Adjust as needed */
  border-radius: 16px 16px 0 0;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 0;
  transform: translateY(100%);
  animation: slideUp 0.3s forwards;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}

.closeButton {
  float: right;
  border: none;
  background: none;
  font-size: 1.5rem;
}

/* Add more styles for the header, body, buttons, etc. */
