/* styles/Stepper.module.css */
.stepperContainer {
  display: flex;
  flex-direction: column;
}

.circularStepsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circularSteps {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: hsl(var(--solitaire-denary));
  color: hsl(var(--solitaire-primary));
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}


.step:first-child::before {
  display: none; /* Remove the line before the first step */
}

.activeStep {
  background-color: hsl(var(--solitaire-quaternary));
  color: #fff;
}

.stepContent {
  margin: 20px 0;
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
