

.slick-active  button:before {
  color: White !important;
  width: 16px !important;
  border-radius: 4px !important;
  padding: 0px !important;
}

.slick-dots li button:before {
  color: White !important;
  padding: 0px !important;
  width: 16px !important;


}
.slick-dots li{
  margin: 0px !important;
}