.filled{
    width: 152px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #8c7459;
    color: #ffffff;
    color: hsl(var(--solitaire-tertiary));
}

.transparent{
    width: 152px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #8c7459;
    color: hsl(var(--solitaire-tertiary));
}




