.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid hsl(var(--solitaire-senary)) ;
  padding: 0.5rem 0rem
  
}

.resultsPerPage {
  display: flex;
  // width: 6%;
  align-items: center;
}

.showResult {
  color: hsl(var(--solitaire-tertiary));
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.selectTrigger {
  width: 100%;
  border: none;
  outline: none;
  color: hsl(var(--solitaire-tertiary));
  gap: 25px;
}

.selectContent {
  width: 100%;
  color: hsl(var(--solitaire-tertiary));
}

.selectElement {
  color: hsl(var(--solitaire-tertiary));
  width: 100%;
}

.paginationControls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationButton {
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.pageInfo {
  margin: 0 15px;
}

.pageNumbers {
  display: flex;
  align-items: center;
}

.pageNumber {
  color: hsl(var(--solitaire-senary));
  margin: 0 5px;
  padding: 5px 8px;
  cursor: pointer;
}

.activePage {
  font-weight: bold;
  color: hsl(var(--solitaire-tertiary));
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
