.noDataFound {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  margin: 0 auto;
  color: hsl(var(--solitaire-tertiary));
  font-size: 14px;
  height: 70vh;
}

.noDataFound p {
  margin: 0;
  font-weight: 300;
}
