.noDataFound {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  margin: 0 auto;
  color: #555;
  font-size: 16px;
  height: 80vh;
}

.noDataFound p {
  margin: 0;
  font-weight: bold;
}
