//Footer Button
.transparent {
  background-color: transparent;
  border: 1px solid #8c7459;
  font-size: 14px !important;
  width: 150px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filled {
  background-color: #8c7459;
  color: #ffffff;
  font-size: 14px !important;
  width: 150px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paginationContainerStyle {
  border: none !important ;
}

.tableWrapper {
  max-height: 65vh; /* Set to 80% of the viewport height */
  overflow-y: auto;
  padding-bottom: 10px;
  height: calc(
    100vh - 45vh
  ); /* This may not be needed, depending on the layout */
}
.modalStyle {
  max-width: 1000px;
  height: 87vh;
  z-index: 1200;
  color: hsl(var(--solitaire-tertiary));
}
