.mainBottomNavtionain {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.headerButtonStyle {
  background-color: transparent;
  color: hsl(var(--solitaire-tertiary));
}

.headerButtonStyle:hover {
  color: #8c7459;
}

.activeHeaderButtonStyle {
  background-color: transparent;
  color: #8c7459;
  font-weight: 600;
}

.copyRightButton {
  background-color: transparent;
  color: hsl(var(--solitaire-tertiary));
  cursor: default;
  margin-right: 30px;
}

.footerLabel {
  font-size: 12px;
}
