.otpContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.otpInput {
  background-color: 'neutral0';
  border-radius: 4px;
  width: 56px;
  height: 56px;
  text-align: center;
  font-size: 18px;
  gap: 6px;
  box-shadow: var(--input-shadow) inset;
  color: var(--neutral-900);
}
