.label {
  color: hsl(var(--solitaire-tertiary));
  font-size: 14px;
  text-transform: capitalize;
}

.format {
  color: hsl(var(--solitaire-senary));
  font-size: 14px;
  font-weight: 400;
}
.errorFormat {
  color: #983131;
  font-size: 14px;
  font-weight: 400;
}

.errorlabel {
  color: #983131;
  font-size: 14px;
  text-transform: capitalize;
}

.stroke {
  stroke: hsl(var(--solitaire-quaternary));
}

.errorFill {
  fill: #983131;
  width: 100%;
}

.menuTriggerStyle{
  background: hsl(var(--solitaire-secondary));
  padding: 0px !important;
}

.menuItemStyle{
  
}

.menuContentStyle{
  background-color: hsl(var(--solitaire-primary));
  border: none;
  border-radius: 10px;
  min-width: 10rem;
}
.modalStyle {
  max-width: 1000px;
  height: 80vh;
  z-index: 1200;
  color: hsl(var(--solitaire-tertiary));
  border-radius: 30px;
}

