.comparestoneContainer {
  height: 50%;
  color: hsl(var(--solitaire-tertiary));
}

.compareStoneContentContainer {
  margin: 40px 0px;
  max-height: 65vh;
  overflow: auto;
}

.leftFixedContent {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1111;
}

//Footer Button
.transparent {
  background-color: transparent;
  width: 150px;
  height: 35px;
  border: 1px solid hsl(var(--solitaire-quaternary));
  border-radius: 5px;
  color: hsl(var(--solitaire-tertiary));
  font-size: 14px !important;
}
.filled {
  background-color: hsl(var(--solitaire-quaternary));
  width: 150px;
  height: 35px;
  color: hsl(var(--solitaire-tertiary));
  font-size: 14px !important;
}

.paginationContainerStyle {
  border: none !important ;
}

.mainHeaderStyle {
  position: fixed;
  top: 80px;
  background-color: hsl(var(--solitaire-primary));
  z-index: 11111;
  width: 90%;
  height: 80px;
}

.visibleStyle {
  top: 0;
}
