.imageTileImageStyles{
    width: 20px;
    height: 20px;
}



.imageTileContainerStyles{
    width: 96px;
    height: 65px;
}

.imageTileLabelStyles{
    color:hsl(var(--solitaire-quaternary));
    cursor : pointer;
}

.stroke {
    stroke: #CED2D2;
}

.imageTileContainerStyles:hover .stroke {
    stroke : hsl(var(--solitaire-quaternary));
    cursor : pointer;
}


.isNav .stroke {
    stroke : hsl(var(--solitaire-quaternary))
}
