.imageTileImageStyles{
    width: 20px;
    height: 20px;
}

.imageTileImageStyles{
    fill:red;
    filter: red;
    color : red;
}


.imageTileContainerStyles{
    width: 96px;
}

.imageTileLabelStyles{
    color:hsl(var(--solitaire-quaternary));
}

