.label {
  color: var(--neutral-900) !important;
  font-size: 14px;
  text-transform: capitalize;
}

.format {
  color: var(--neutral-600);
  font-size: var(--font-size-sRegular);
  font-weight: 400;
}






