.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(var(--solitaire-primary));
  transition: top 0.3s;
}
.visible {
  top: 0;
}

.hidden {
  top: -80px;
}

.activeHeaderButtonStyle {
  font-weight: 600;
  padding: 0px 10px !important;
  height: 1.8rem !important;
  color: hsl(var(--solitaire-quaternary));
}

.headerButtonStyle {
  background-color: transparent;
  font-weight: 600;
  padding: 0px 10px !important;
  height: 1.8rem !important;
  color: hsl(var(--solitaire-tertiary));
}

.showResultButtonTransparent {
  background-color: transparent;
  border: 1px solid #8c7459;
  font-size: 14px !important;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 300;
  padding: 8px 50px;
}

.showResultButtonFilled {
  background-color: #8c7459;
  border-radius: 5px;
  font-size: 14px !important;
  color: #ffffff;
  font-weight: 300;
  padding: 8px 50px;
}

.closeResultButton {
  border-bottom: 1px solid hsl(var(--solitaire-quaternary));
  font-weight: 300;
}
