.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltipData {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%; /* Place below the trigger */
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(var(--solitaire-secondary));
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.tooltipTrigger:hover + .tooltipData,
.tooltip.active .tooltipData {
  visibility: visible;
  opacity: 1;
}
