.defaultInputStyle{
    height: 40px;
    outline: none;
    border-bottom: 0.5px solid #8C7459;
    font-size: 12px;
    padding: 10px, 10px, 10px, 5px;
    color: white;
    background-color: transparent;
} 

.defaultInputStyle:focus {
    outline: none;
}