@tailwind base;
@tailwind components;
@tailwind utilities;

#onesignal-slidedown-container #onesignal-slidedown-dialog .slidedown-button.primary {
  background: var(--primary-main) !important ;
    color: #fff !important;
    transition: 75ms linear;
}
html body #onesignal-slidedown-container #onesignal-slidedown-dialog .slidedown-button.secondary {
  color: var(--primary-main) !important;
  background: #fff !important;
  border: 1px solid var(--primary-main) !important;
}



@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  :root {
    @apply bg-neutral0;

    --background: 180, 44%, 8%, 1;

    --background-dark: 180, 44%, 4%, 1;

    --foreground: 32, 18%, 54%, 1;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 0 0% 14.9%;
  }

  .v2primary {
    @apply bg-neutral0;
    font-family: 'Inter', sans-serif;

    // v2 UI theme

    --font-size-sRegular: 12px;
    --font-size-sMedium: 12px;
    --font-size-sMobileRegular: 10px;
    --font-size-mRegular: 14px;
    --font-size-mMedium: 14px;
    --font-size-mMedium10: 10px;
    --font-size-lRegular: 16px;
    --font-size-lMedium: 16px;
    --font-size-headingS: 20px;
    --font-size-headingM: 28px;
    --font-size-headingL: 36px;
    --font-size-headingXL: 48px;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semiBold: 600;
    --font-weight-bold: 700;

    --line-height-sRegular: 1.33;
    --line-height-sMedium: 1.33;
    --line-height-sMobileRegular: 1.6;
    --line-height-mRegular: 1.5;
    --line-height-mMedium: 1.5;
    --line-height-mMedium10: 1.6;
    --line-height-lRegular: 1.5;
    --line-height-lMedium: 1.5;
    --line-height-headingS: 1.5;
    --line-height-headingM: 1.5;
    --line-height-headingL: 1.5;
    --line-height-headingXL: 1.5;

    --neutral-0: hsla(0, 0%, 100%, 1);
    --neutral-25: hsla(180, 20%, 99%, 1);
    --neutral-50: hsla(210, 20%, 98%, 1);
    --neutral-100: hsla(216, 24%, 96%, 1);
    --neutral-200: hsla(218, 17%, 91%, 1);
    --neutral-300: hsla(217, 16%, 84%, 1);
    --neutral-400: hsla(218, 15%, 65%, 1);
    --neutral-500: hsla(221, 13%, 46%, 1);
    --neutral-600: hsla(216, 18%, 34%, 1);
    --neutral-700: hsla(217, 24%, 27%, 1);
    --neutral-800: hsla(214, 33%, 17%, 1);
    --neutral-900: hsl(220, 43%, 11%, 1);

    --neutral-shape-default: hsla(0, 0%, 100%, 0.25);
    --neutral-shape-hover: hsla(180, 13%, 24%, 0.7);
    --neutral-shape-selected: hsla(180, 13%, 24%, 0.7);

    --primary-main: hsla(180, 13%, 24%, 1);
    --primary-surface: hsla(210, 20%, 98%, 1);
    --primary-border: hsla(218, 17%, 91%, 1);
    --primary-hover: hsla(180, 6%, 39%, 1);
    --primary-pressed: hsla(180, 15%, 19%, 1);
    --primary-focus: hsla(220, 43%, 11%, 0.2);
    --primary-icon-color: hsl(180, 7%, 39%, 1);

    --danger-main: hsla(0, 100%, 44%, 1);
    --danger-surface: hsla(0, 100%, 96%, 1);
    --danger-border: hsla(0, 100%, 92%, 1);
    --danger-hover: hsla(0, 100%, 32%, 1);
    --danger-pressed: hsla(0, 100%, 19%, 1);
    --danger-focus: hsla(0, 100%, 44%, 0.2);

    --success-main: hsla(151, 100%, 25%, 1);
    --success-surface: hsla(150, 33%, 94%, 1);
    --success-border: hsla(151, 35%, 78%, 1);
    --success-hover: hsla(151, 100%, 20%, 1);
    --success-pressed: hsla(151, 100%, 16%, 1);
    --success-focus: hsla(151, 100%, 25%, 0.2);

    --warning-main: hsla(29, 89%, 49%, 1);
    --warning-surface: hsla(28, 100%, 95%, 1);
    --warning-border: hsla(29, 100%, 80%, 1);
    --warning-hover: hsla(29, 97%, 42%, 1);
    --warning-pressed: hsla(29, 85%, 21%, 1);
    --warning-focus: hsla(29, 89%, 49%, 0.2);

    --vis-red: hsla(354, 96%, 56%, 1);

    --info-main: hsla(216, 90%, 44%, 1);
    --info-surface: hsla(218, 73%, 96%, 1);
    --info-border: hsla(215, 72%, 83%, 1);
    --info-hover: hsla(216, 96%, 37%, 1);
    --info-pressed: hsla(216, 95%, 29%, 1);
    --info-focus: hsla(216, 90%, 44%, 0.2);

    --accent-teal: hsla(193, 35%, 42%, 1);
    --accent-purple: hsla(244, 68%, 67%, 1);
    --accent-jade: hsla(165, 100%, 35%, 1);
    --accent-gold: hsla(34, 100%, 59%, 1);

    --legend-OnHold-border: hsla(318, 88%, 90%, 1);
    --legend-OnHold-Fill: hsla(316, 73%, 97%, 1);
    --legend-Hold: hsla(327, 80%, 42%, 1);

    --legend-memo-border: hsla(268, 95%, 92%, 1);
    --legend-Memo-fill: hsla(264, 100%, 98%, 1);
    --legend-Memo: hsla(258, 54%, 52%, 1);

    --legend-InCart-Fill: hsla(30, 89%, 96%, 1);
    --legend-Incart-border: hsla(36, 86%, 83%, 1);
    --legend-Incart: hsla(13, 80%, 40%, 1);

    --primary-modal-ring: hsla(144, 83%, 96%, 1);
    --primary-modal-ring-red: hsla(4, 88%, 97%, 1);
    --primary-modal-fill-red: hsla(4, 95%, 94%, 1);
    --input-shadow: 1px 2px 2px 0px rgba(16, 24, 40, 0.12);
    --popups-shadow: 0px 4px 8px 0px rgba(16, 24, 40, 0.1);
  }
}

@layer base {
  * {
    // @apply border-border;
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    input[type='number'] {
      -moz-appearance: textfield !important;
      appearance: none;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    /* width */
    ::-webkit-scrollbar {
      width: 8px !important;
      height: 8px;
      cursor: grabbing !important;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background-color: var(--neutral-200);
      border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--primary-icon-color);
      border-radius: 10px;
    }

    /* Pointer cursor on hover */
    ::-webkit-scrollbar-thumb:hover {
      cursor: pointer !important;
    }

    ::-webkit-scrollbar-thumb:active {
      cursor: grabbing !important;
    }

    font-size: 14px;
  }
  body::-webkit-scrollbar {
    width: 0.1rem;
    cursor: grabbing !important;
  }

  /* Remove autofill blue color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: var(--input-shadow) inset !important;
    transition: background-color 5000s ease-in-out 0s !important; /* Adjust the transition to a long duration */
    font-size: inherit !important;
  }
}
@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.custom-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes flowyText {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.timeline-animate-zoom {
  animation: zoomInOut 20s infinite;
}

/* styles/AnimatedText.module.css */
.ml9 {
  position: relative;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
}

/* styles/AnimatedText.module.css */
.ml10 {
  position: relative;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  transform-origin: 0 0;
}

.ml12 .letter {
  display: inline-block;
}
.scroll-image.visible {
  @apply opacity-100 scale-110;
}

.slow-transition {
  transition:
    opacity 3s ease-in-out,
    transform 3s ease-in-out;
}
@layer utilities {
  .char {
    @apply inline-block opacity-0;
    animation: fadeInFromLeft 1s forwards;
    animation-delay: calc(var(--char-index) * 0.05s);
  }
}
/* Custom styles for blur effect on bottom 20% */
.blur-bottom {
  position: relative;
  overflow: hidden; /* Ensure pseudo-element does not overflow */
}

.blur-bottom::after {
  content: '';
  position: absolute;
  bottom: -60px;
  left: -30px;
  right: 30px;
  width: 120%;
  height: 100px; /* Bottom 20% */
  background: white; /* Semi-transparent background */
  filter: blur(24px); /* Apply blur effect */
  z-index: 1; /* Ensure it stays behind the content */
}

.blur-bottom .content {
  position: relative;
  z-index: 2; /* Ensure content is above the blur effect */
}

@keyframes continuousScrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.continuousScroll {
  animation: continuousScrollUp linear infinite;
}

// .landingPage {
//   cursor: none;
// }

// .custom-cursor {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 30px;
//   height: 30px;
//   border-radius: 50%;
//   pointer-events: none; /* Ensures the cursor does not interfere with mouse events */
//   transform: translate(-50%, -50%);
//   transition:
//     transform 0.1s ease,
//     background-color 0.3s ease,
//     width 0.3s ease,
//     height 0.3s ease,
//     border 0.3s ease,
//     backdrop-filter 0.3s ease;
//   z-index: 9999;
// }

// .custom-cursor.hover {
//   width: 50px;
//   height: 50px;
//   background-color: rgba(255, 0, 0, 0.5); /* Default hover color */
// }

// .asset:hover .custom-cursor {
//   background-color: transparent;
//   border: 2px solid rgba(255, 255, 255, 0.5);
//   // backdrop-filter: blur(5px);
// }

.disable-custom-cursor {
  cursor: default;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.circular-scroll-content {
  // position: absolute;
  // width: 100%;
  animation: scrollUp linear infinite;
  animation-duration: 300s; /* Adjust the duration for speed */
}
@keyframes scrollDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.downward-scroll-content {
  position: absolute;
  width: 100%;
  animation: scrollDown linear infinite;
  animation-duration: 300s; /* Adjust the duration for speed */
}

// .circular-scroll-content,
// .downward-scroll-content {
//   animation: scroll linear infinite;
// }

/* Pauses animation when the hovered state is active */
.paused-animation .circular-scroll-content,
.paused-animation .downward-scroll-content {
  animation-play-state: paused;
}
.video-element::-webkit-media-controls {
  display: none !important;
}

.video-element::-webkit-media-controls-enclosure {
  display: none !important;
}

/* Custom CSS to remove the background color on hover */
.blog-carousel .carousel .control-arrow:hover {
  background-color: transparent !important;
}

.blog-carousel .carousel .control-next.control-arrow:hover,
.blog-carousel .carousel .control-prev.control-arrow:hover {
  background-color: transparent !important;
}


@keyframes clock-reveal {
  0% {
    transform: rotate(0deg);
    clip-path: polygon(50% 50%, 50% 0%, 50% 0%, 50% 50%);
  }
  25% {
    transform: rotate(90deg);
    clip-path: polygon(50% 50%, 100% 50%, 100% 0%, 50% 0%);
  }
  50% {
    transform: rotate(180deg);
    clip-path: polygon(50% 50%, 50% 100%, 100% 100%, 100% 0%);
  }
  75% {
    transform: rotate(270deg);
    clip-path: polygon(50% 50%, 0% 50%, 100% 100%, 100% 0%);
  }
  100% {
    transform: rotate(360deg);
    clip-path: polygon(50% 50%, 50% 0%, 100% 100%, 0% 100%);
  }
}

.animate-clock-reveal {
  animation: clock-reveal 1s linear forwards;
}



