.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(var(--solitaire-primary));
  transition: top 0.3s;
}
.visible {
  top: 0;
}

.hidden {
  top: -80px;
}

.mainHeaderStyle {
  position: fixed;
  top: 80px;
  background-color: hsl(var(--solitaire-primary));
  z-index: 11111;
  width: 90%;
  height: 80px;
}

.visibleStyle {
  top: 0;
}

.headerInputStyle {
  width: 250px;
  font-size: 16px;
  color: hsl(var(--solitaire-tertiary));
}
.headerInputStyle ::placeholder {
  color: hsl(var(--solitaire-senary));
}

.popoverContent {
  background-color: hsl(var(--solitaire-secondary));
  z-index: 1111;
  width: 200px;
  height: 120px;
  margin-right: 80px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 1px;
}

.modalStyle {
  max-width: 1000px;
  height: 87vh;
  z-index: 1200;
  color: hsl(var(--solitaire-tertiary));
}


/* Media queries */
/* Small screens */
@media (max-width: 767px) {
  .headerInputStyle {
    width: 150px;
    font-size: 14px;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .headerInputStyle {
    width: 200px;
    font-size: 14px;
  }
}

/* Large screens */
@media (min-width: 1024px) {
  .headerInputStyle {
    width: 250px;
    font-size: 14px;
  }
}
