.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(var(--solitaire-primary));
  transition: top 0.3s;
}
.visible {
  top: 0;
}

.hidden {
  top: -80px;
}

.mainHeaderStyle {
  position: fixed;
  top: 80px;
  background-color: hsl(var(--solitaire-primary));
  z-index: 11111;
  width: 90%;
  height: 80px;
}

.visibleStyle {
  top: 0;
}

.showResultButtonTransparent {
  background-color: transparent;
  border: 1px solid #8c7459;
  font-size: 14px !important;
  border-radius: 5px;
  margin-top: 5px;
  color: #ffffff;
  font-weight: 300;
  padding: 0px 50px;
}

.showResultButtonFilled {
  background-color: #8c7459;
  border-radius: 5px;
  font-size: 14px !important;
  margin-top: 5px;
  color: #ffffff;
  font-weight: 300;
  padding: 0px 50px;
  margin-left: 20px;
}
