.footerButton {
width: 152px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px; 
color: hsl(var(--solitaire-tertiary));
}

.footerButtonLabel {
    color: hsl(var(--solitaire-tertiary));
}

