.cardManageListingSequence{
  // width: 320px !important;
  border: 10px solid hsl(var(--solitaire-primary));
  border-radius: 15px;
  background: hsl(var(--solitaire-denary));

  display: flex;
  flex-direction: row;
}
.cardNonManageListingSequence{
  // width: 320px !important;
  border: 10px solid hsl(var(--solitaire-primary));
  border-radius: 15px;
  background: hsl(var(--solitaire-denary));
  display: block;
  width: 20%;
  padding: 5px 0;
}

.gridUi {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

//lable
.lableManageListingSequence{
display: flex;
margin-left: 10px;
font-size: 14px;
width: 100px;
align-items: center;
color: hsl(var(--solitaire-tertiary));
}



//Footer Button
.transparent {
  background-color: transparent;
  border: 1px solid #8c7459;
  font-size: 14px !important;
}
.filled {
  background-color: #8c7459;
  color: #ffffff;
  font-size: 14px !important;
}
/* Media queries */
@media (max-width: 1200px) {
  .lableManageListingSequence {
    width: 90px;
    font-size: 14px;
  }
 
}

@media (max-width: 1024px) {
  .lableManageListingSequence {
    width: 75px;
    font-size: 13px;
  }
 
}

@media (max-width: 768px) {
  .lableManageListingSequence {
    width: 50px;
    font-size: 14px;
  }
  
}