.cardManageListingSequence {
  width: 330px;
  height: 30px;
  margin: 10px;
  border-radius: 7px;
  background-color: hsl(var(--solitaire-denary));
  display: flex;
  align-items: center;
  font-size: 14px;
}

.lableManageListingSequence {
  display: flex;
  margin-left: 10px;
  font-size: 14px;
  width: 85%;
  align-items: center;
  color: hsl(var(--solitaire-tertiary));
}

/* Media queries */
@media (max-width: 1200px) {
  .cardManageListingSequence {
    width: 180px; /* Adjust the width as needed */
    font-size: 13px;
  }

  .lableManageListingSequence {
    width: 70%; /* Adjust the width as needed */
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .cardManageListingSequence {
    width: 150px; /* Adjust the width as needed */
    font-size: 12px;
  }

  .lableManageListingSequence {
    width: 70%; /* Adjust the width as needed */
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .cardManageListingSequence {
    width: 100px; /* Adjust the width as needed */
    font-size: 11px;
  }

  .lableManageListingSequence {
    width: 60%; /* Adjust the width as needed */
    font-size: 11px;
  }
}


//Footer Button
.transparent {
  background-color: transparent;
  border: 1px solid #8c7459;
  font-size: 14px !important;
}
.filled {
  background-color: #8c7459;
  color: #ffffff;
  font-size: 14px !important;
}