.cardContainer {
    background-color: hsl(var(--solitaire-secondary));
    border: none;
    width: 100%;
  }
  
  .cardHeaderText {
    display: flex !important;
    justify-content: space-between;
  }
  
  .cardTitle {
    display: flex;
    width: 100%;
  }
  
  .cardActionIcon {
    height: 24px;
    width: 24px;
    margin: 8px;
  }
  
  // .cardIcon {
  //     height: 20px;
  //     width: 20px;
  //     margin-right: 10px;
  // }
  .mainContainer {
    width: 250px;
    background-color: hsl(var(--solitaire-secondary));
  

    display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 30px;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    transition: filter 0.3s ease-in-out;
  }
  
  .blur {
    filter: blur(8px);
  }
  