//Footer Button
.transparent {
    background-color: transparent;
    border: 1px solid #8c7459;
    font-size: 14px !important;
  }
  .filled {
    background-color: #8c7459;
    color: #ffffff;
    font-size: 14px !important;
  }
  